h1{
    color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul{
   
    list-style-image: url('pointer-icon/pointer-icon.png')
}
ol{
    list-style-type:upper-roman;
}
a{
    text-decoration: none;
    background-color: aquamarine;
    font-family:Arial, Helvetica, sans-serif;
    padding: 5px;
}
a:hover{
    background-color: aqua;
    color: #ffffff;
    
}